<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688501506977-jl7724s7r44vtet13318rvjm8j7m9ccp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688501506977-jl7724s7r44vtet13318rvjm8j7m9ccp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_DUmmIO9MX82v1dXSEIUnynILkKhqQX4</string>
	<key>GCM_SENDER_ID</key>
	<string>688501506977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandrecisse.myNotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-0607</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-0607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688501506977:ios:3ea44f926a937d3f1581e0</string>
</dict>
</plist>